<%- layout('layouts/template') %>

<div class="container text-center">
  <div class="col align-self-center">
    <a href="/comments" class="btn btn-info">Go to comments</a>
    <a href="/form" class="btn btn-success">Create a new comment</a>
  </div>
</div>
